.row {
    margin-left: 3.2rem;
}
/* Canh cột */
.col {
    float: left;
    padding-left: 2px;
    padding-right: 2px;
}
/*Kích thước mỗi cột = 33.33% */
.colThird {
    width: calc(100% / 4);
}
.margin {
    margin-top: 1rem !important;
}
.pic {

}
.pic p {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(21, 166, 214);
    background-color: rgb(50, 49, 49);
    position: relative;
    width: 81%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    top: -3px;
}