.slider {
    margin: 0 2.5em 0 2.5rem !important;
}
.buttonl {
    position: relative;
    top: 13rem;
    font-size: 2.5rem;
    border-radius: 100px;
    background-color: #f5813e;
    border: none;
    color: #f5813e;
}
.buttonl:hover {
    opacity: 0.8;
    cursor: pointer;
}
.buttonr {
    position: relative;
    top: 13rem;
    right: -69rem;
    font-size: 2.5rem;
    border-radius: 100px;
    background-color: #f5813e;
    border: none;
    color: #f5813e;
}

.buttonr:hover {
    opacity: 0.8;
    cursor: pointer;
}